.add-services form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-services form input,textarea{
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
}